<%= form_for(@item_rank, { html: { role: 'form', class: 'form-horizontal'}}) do |f| %>
  <% if @item_rank.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <strong><%= pluralize(@item_rank.errors.count, "error") %> prohibited this item_rank from being saved:</strong>

      <ul>
      <% @item_rank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-sm-12">
    <div class="form-group<%= f.object.errors[:response_id].empty? ? '' : ' has-error has-feedback' %>">
        <%= f.label :response_id, { class: 'control-label col-sm-1' } %>
        <div class="col-sm-11">
          <%= f.text_field :response_id, { class: 'form-control' } %>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="form-group<%= f.object.errors[:survey_item_id].empty? ? '' : ' has-error has-feedback' %>">
        <%= f.label :survey_item_id, { class: 'control-label col-sm-1' } %>
        <div class="col-sm-11">
          <%= f.text_field :survey_item_id, { class: 'form-control' } %>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="form-group<%= f.object.errors[:rank].empty? ? '' : ' has-error has-feedback' %>">
        <%= f.label :rank, { class: 'control-label col-sm-1' } %>
        <div class="col-sm-11">
          <%= f.number_field :rank, { class: 'form-control' } %>
      </div>
    </div>
  </div>
  <div class="actions text-center">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>
