<% content_for :page_title do %>
Survey Items -
<% end %>
<div class="container">
  <div class="page-header">
    <h1>Listing Survey Items</h1>
  </div>
  
  <div class="pull-right">
    <%= link_to '+ New Survey Item', new_survey_item_path, class: 'btn btn-success' %>
  </div>
  
  <table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Survey</th>
      <th>Headline</th>
      <th>Description</th>
      <th>Thumbnail url</th>
    </tr>
  </thead>

  <tbody>
    <% @survey_items.each do |survey_item| %>
      <tr class="linked-row" data-href="<%= survey_item_path(survey_item) %>">
        <td><%= link_to survey_item.survey, survey_item %></td>
        <td><%= survey_item.headline %></td>
        <td><%= survey_item.description %></td>
        <td><%= survey_item.thumbnail_url %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>